[submodule "deps/libuvc-theta"]
	path = deps/libuvc-theta
	url = https://github.com/ricohapi/libuvc-theta
	branch = theta_uvc
[submodule "deps/libuvc-theta-sample"]
	path = deps/libuvc-theta-sample
	url = https://github.com/madjxatw/libuvc-theta-sample.git
	branch = nvdec-yv12
[submodule "deps/v4l2loopback"]
	path = deps/v4l2loopback
	url = https://github.com/umlaeute/v4l2loopback.git
	branch = main
[submodule "deps/libptp"]
	path = deps/libptp
	url = https://github.com/leirf/libptp.git
	branch = master
